<header class="header">
    <img src="https://cdn.britannica.com/15/145615-050-046569D0/Medusa-marble-sculpture-Gian-Lorenzo-Bernini-Capitoline.jpg" alt="logo" height="200px" width="auto">
    <div class="header-title-container">
        <h1 class="header-title">
            <%= headTitle %>
        </h1>
        <h2 class="header-subtitle">
            <%= subtitles %>
        </h2>
    </div>
</header>