<div class="zeus">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iure officia modi magni maxime optio ullam ea
        accusantium accusamus alias distinctio excepturi nulla ducimus libero tempora, facilis fuga? Exercitationem, ea.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magnam soluta. Ducimus mollitia corporis sequi
        explicabo officia expedita veniam nostrum beatae! Sed similique, ipsa ipsum inventore facilis dolorem tenetur
        vel?</p>
</div>